body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color:rgb(74, 73, 71);
}
header {
    background-color:rgb(61, 60, 59); /*cor de fundo do cabeçalho*/
    color:rgb(123, 169, 116); /*cor das letras do cabeçalho*/
    padding:40px; /*preeenchimendo do cabeçalho*/
    text-align: center; /*alinhando o texto dentro do cabeçalho*/
}
/*Estilizando a navegação*/
nav{
    background-color:rgb(169, 49, 49);
    color:aliceblue;
    padding: 10px
}
nav ul{
    /*Remove os marcadores da lista*/
    list-style-type: none;
    padding: 0;
    display: flex;
    /*Exibe os itens da lista horizontalmente*/
    justify-content: center;
}    
nav ul li{
    margin: 0 150px /*espaçamento entre os itens*/
v
}
nav ul li a{
    color:aliceblue;
    text-decoration: none; /*remove o sublinhado dos links*/
    transition: color 0.3s; /*transição suave para hover*/
}
nav ul li a:hover{
    color:olive; /*hover muda a cor quando aproxima o cursor*/
}

/*Estilo para conteúdo principal*/
article{
    background-color: #c1a503;
    color: hsl(0, 82%, 20%);
    padding: 20px;
   
} 
/*Estilizando o rodapé*/
footer{
    background-color: rgb(32, 32, 32);
    color: hsl(0, 83%, 14%);
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}
.biotecnologia{
    width: 1250px;
    height: 500px;
    margin-bottom: 20px;
 }

 .video{
    width: 300px;
    height:300px;
 }