body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color:rgb(74, 73, 71);
    height: 100vh
}
header {
    background-color:rgb(27, 54, 22); /*cor de fundo do cabeçalho*/
    color:rgb(50, 91, 42); /*cor das letras do cabeçalho*/
    padding:40px; /*preeenchimendo do cabeçalho*/
    text-align: center; /*alinhando o texto dentro do cabeçalho*/
}

/*Estilo para conteúdo principal*/
article{
    background-color: #a3b989;
    color: hsl(0, 0%, 4%);
    padding: 20px;
    text-align: center;
} 
/*Estilizando o rodapé*/
footer{
    background-color: rgb(61, 60, 59);
    color: rgb(91, 128, 86);
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}
.biotecnologia{
    width: 1250px;
    height: 500px;
    margin-bottom: 20px;
 }

 p {
    font-size: 20px ;
 }
 h3 {
    margin-bottom: 30px;
 }
